<div class="genericModal__overlay">
    <div class="playlist-edit-details-modal">
        <div class="title-container">
            <h3 class="title-edit">Editar playlist</h3>
            <button class="btn-close">
                <i class="uil uil-multiply"></i>
            </button>
        </div>
        <form action="" class="form-grid">
            <div class="img-container">
                <div class="playlist-img">
                    <div class="playlist-img__icon">
                        <i class="uil uil-music"></i>
                    </div>
                </div>
                <div class="playlist-img-select">
                    <div class="img-select">
                        <button class="btn-playlist-img">
                            <i class="uil uil-pen"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="input-title-container">
                <label for="title" class="input-label in-title in-title-border">Nombre</label>
                <input type="text" name="title" id="title" placeholder="Agrega un nombre" class="input-title title-border"> 
            </div>
            <div class="input-description-container">
                <label for="description" class="input-label in-title in-title-border">Descripción</label>
                <textarea name="description" id="description" placeholder="Agrega una descripción opcional" class="input-title title-border"></textarea>
            </div>
            <div class="save-container">
                <button class="button-save">
                    <span class="button-save-description">Guardar</span>
                </button>
            </div>
        </form>
    </div>
</div>
